<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>ログイン</h1>
	</header>
	<main>
		<p style="color: tomato;" th:if="${error}" th:text="${error}"></p>
		<form action="/login" method="post">
		<table border="1">
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password" /></td>
			</tr>
		</table>
		<button>ログイン</button>
		</form>
	</main>
</body>
</html>